#set ($date_DateObj = $dateUtil.newDate($getterUtil.getLong($date.getData())))
<h6>
posted
$dateUtil.getDate($date_DateObj, "dd MMM yyyy", $locale)
in
<a href="$category.getData()"> $category.getData() </a>
</h6>

<p>$body.getData()</p>