*~
*-ext.properties
*.bak
*.iml
*.ipr
*.iws
*.processed
*.swp
.ant_targets
.ant-targets-build.xml
.sass-cache
.sass_cache_*.css
_sass_cache_*.css

/.bnd
/.ivy

/*/*/bin
/*/*/classes
/*/*/javadoc
/*/*/temp
/*/*/test-classes
/*/*/test-results
/*/*/tmp

/*/*/docroot/WEB-INF/classes
/*/*/docroot/WEB-INF/lib/portal-compat-shared.jar

/baseline-reports
/build.*.properties
/dist
/tools/*/*/*/lib

/portlets/01-node-portlet/build.xml
/portlets/01-node-portlet/docroot/WEB-INF/
/portlets/01-node-portlet/docroot/css/
/portlets/01-node-portlet/docroot/icon.png
/portlets/01-node-portlet/docroot/js/
/portlets/02-button-portlet/build.xml
/portlets/02-button-portlet/docroot/WEB-INF/
/portlets/02-button-portlet/docroot/css/
/portlets/02-button-portlet/docroot/icon.png
/portlets/02-button-portlet/docroot/js/
/portlets/03-char-counter-portlet/build.xml
/portlets/03-char-counter-portlet/docroot/WEB-INF/
/portlets/03-char-counter-portlet/docroot/css/
/portlets/03-char-counter-portlet/docroot/icon.png
/portlets/03-char-counter-portlet/docroot/js/
/portlets/04-scheduler-portlet/build.xml
/portlets/04-scheduler-portlet/docroot/WEB-INF/
/portlets/04-scheduler-portlet/docroot/css/
/portlets/04-scheduler-portlet/docroot/icon.png
/portlets/04-scheduler-portlet/docroot/js/
/portlets/05-form-validator-portlet/build.xml
/portlets/05-form-validator-portlet/docroot/WEB-INF/
/portlets/05-form-validator-portlet/docroot/css/
/portlets/05-form-validator-portlet/docroot/icon.png
/portlets/05-form-validator-portlet/docroot/js/
/portlets/06-registration-form-portlet/build.xml
/portlets/06-registration-form-portlet/docroot/WEB-INF/
/portlets/06-registration-form-portlet/docroot/css/
/portlets/06-registration-form-portlet/docroot/icon.png
/portlets/06-registration-form-portlet/docroot/js/
/portlets/07-taglib-portlet/build.xml
/portlets/07-taglib-portlet/docroot/WEB-INF/
/portlets/07-taglib-portlet/docroot/css/
/portlets/07-taglib-portlet/docroot/icon.png
/portlets/07-taglib-portlet/docroot/js/
/portlets/08-validator-taglib-portlet/build.xml
/portlets/08-validator-taglib-portlet/docroot/WEB-INF/
/portlets/08-validator-taglib-portlet/docroot/css/
/portlets/08-validator-taglib-portlet/docroot/icon.png
/portlets/08-validator-taglib-portlet/docroot/js/
/portlets/09-aui-script-taglib-portlet/build.xml
/portlets/09-aui-script-taglib-portlet/docroot/WEB-INF/
/portlets/09-aui-script-taglib-portlet/docroot/css/
/portlets/09-aui-script-taglib-portlet/docroot/icon.png
/portlets/09-aui-script-taglib-portlet/docroot/js/
/portlets/10-aui-script-use-taglib-portlet/build.xml
/portlets/10-aui-script-use-taglib-portlet/docroot/WEB-INF/
/portlets/10-aui-script-use-taglib-portlet/docroot/css/
/portlets/10-aui-script-use-taglib-portlet/docroot/icon.png
/portlets/10-aui-script-use-taglib-portlet/docroot/js/
/portlets/11-aui-script-position-taglib-portlet/build.xml
/portlets/11-aui-script-position-taglib-portlet/docroot/WEB-INF/
/portlets/11-aui-script-position-taglib-portlet/docroot/css/
/portlets/11-aui-script-position-taglib-portlet/docroot/icon.png
/portlets/11-aui-script-position-taglib-portlet/docroot/js/
/portlets/12-liferay-provide-portlet/build.xml
/portlets/12-liferay-provide-portlet/docroot/WEB-INF/
/portlets/12-liferay-provide-portlet/docroot/css/
/portlets/12-liferay-provide-portlet/docroot/icon.png
/portlets/12-liferay-provide-portlet/docroot/js/