#set ($content_id = $reserved-article-id.getData())
#set ($content_class = "multiple-items-${content_id}-carousel")
#set ($namespace = $request.get("portlet-namespace"))
#set ($portlet_id = "p_p_id${namespace}")

<style type="text/css">
	#${portlet_id} .carousel {
		max-width: ${width.getData()}px;
		overflow: hidden;
	}

	 #${content_class} {
		height: ${height.getData()}px;
		position: relative;
		width: ${width.getData()}px;
	}

	#${content_class} .carousel-item {
		height: ${height.getData()}px;
		overflow: hidden;
		position: absolute;
		top: 0;
		width: ${width.getData()}px;
	}

	#if (!$controls.data)
		#${content_class} menu {
			display: none;
		}
	#else
		#${content_class} menu {
			left: 20px;
			position: absolute;
			right: auto;
		}
	#end
</style>

<div id="$content_class">
	#foreach ($item in $image.getSiblings())
		<div class="carousel-item">
			#if ($item.getData())
				#if ($item.link.url-location.data != "")
					<a href="$item.link.url-location.data">
				#end

				<img alt="$item.link.data" src="$item.getData()" title="$item.link.data" />

				#if ($item.link.url-location.data != "")
					</a>
				#end
			#end
		</div>
	#end
</div>

<script type="text/javascript">
	AUI().ready(
		'aui-carousel',
		function(A) {
			new A.Carousel(
				{
					contentBox: '#${content_class}',
					height: $height.getData(),
					intervalTime: $duration.getData()
				}
			).render();
		}
	);
</script>