body.original {
	background-color: #FFF;
	color: #282828;
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.6;
}

.original a {
	color: #428BCA;
}

.original h1, .original h2, .original h3, .original h4, .original h5, .original h6 {
	font-family: Raleway, Arial, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 1.1;
}

.original footer {
	color: #7B7B7B;
	font-family: Open Sans, Arial, Helvetica, sans-serif;

	a {
		color: #AAA;
	}
}