## ---------- Toggle Site Name ---------- ##

#set ($show_site_name_supported = $getterUtil.getBoolean($theme_settings.getProperty("show-site-name-supported"), true))
#set ($show_site_name_default = $getterUtil.getBoolean($theme_settings.getProperty("show-site-name-default"), $show_site_name_supported))
#set ($show_site_name = $getterUtil.getBoolean($layout.layoutSet.getSettingsProperty("showSiteName"), $show_site_name_default))

## ---------- Folder Shortcuts ---------- ##
#set ($images_folder = "$full_templates_path/../images")
#set ($javascript_folder = "$full_templates_path/../js")