## ---------- Toggle Site Name ---------- ##

#set ($show_site_name = $getterUtil.getBoolean($theme_settings.getProperty("show-site-name-default"), true))

## ---------- Folder Shortcuts ---------- ##

#set ($images_folder = "$full_templates_path/../images")
#set ($javascript_folder = "$full_templates_path/../js")