<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	<meta content="initial-scale=1.0, width=device-width" name="viewport" />

	<link rel="stylesheet" id="google_fonts-css" href="//fonts.googleapis.com/css?family=Megrim|Raleway|Open+Sans:400,400italic,700,700italic" type="text/css" media="all">

	<script src="http://cdn.alloyui.com/2.5.0/aui/aui-min.js"></script>

	<link href="http://cdn.alloyui.com/2.5.0/aui-css/css/bootstrap.min.css" rel="stylesheet"></link>

	$theme.include($top_head_include)

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<script>
		#include ("$javascript_folder/scroll.js")
	</script>

	<script>
		#include ("$javascript_folder/arctext.js")
	</script>

</head>

<body class="$css_class">


$theme.include($body_top_include)

#dockbar()


<div class="container-fluid" id="wrapper">
	#if ($is_first_parent)
		<header class="banner-large" id="banner" role="banner">
			<div id="heading">
				#if ($show_site_name)
					<h1 class="site-title">
						<a class="$logo_css_class" href="$site_default_url" title="#language_format ("go-to-x", [$site_name])">
							<img alt="$logo_description" height="$site_logo_height" src="$site_logo" width="$site_logo_width" />
						</a>

						<span class="site-name" title="#language_format ("go-to-x", [$site_name])">
							$site_name
						</span>
					</h1>
				#end

				<h1 class="page-title">

					<a class="link-to-homepage" href="$site_default_url" title="#language_format ("go-to-x", [$site_name])">
						<span>
							$the_title
						</span>
					</a>

				</h1>

				<script>
					$( '.page-title span' ).arctext();
				</script>

				<h2 class="link-to-content">
					<a href="#content">See More</a>
				</h2>

			</div>

	#else
		<header class="banner-small" id="banner" role="banner">
			<div id="heading">
				#if ($show_site_name)
					<h1 class="site-title">
						<a class="$logo_css_class" href="$site_default_url" title="#language_format ("go-to-x", [$site_name])">
							<img alt="$logo_description" height="$site_logo_height" src="$site_logo" width="$site_logo_width" />
						</a>

						<span class="site-name" title="#language_format ("go-to-x", [$site_name])">
							$site_name
						</span>
					</h1>
				#end

				<h2 class="page-title">
					<span>$the_title</span>
				</h2>
			</div>

	#end

			#if ($has_navigation || $is_signed_in)
				#parse ("$full_templates_path/navigation.vm")
			#end
		</header>

	<div id="content">

		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>

	<footer id="footer" role="contentinfo">

		#if($theme.getSetting("display-slogan-footer") == true)
	        <div class="footer-left">
	        	<h3> $site_name </h3>

	        	<p class="footer-slogan">
			    	$theme.getSetting("slogan")
				</p>
			</div>
		#end


		#if($has_navigation and ($theme.getSetting("display-navigation-footer") == true))
			<div class="footer-right">
				<h3>Site Pages</h3>
				<ul>
					#foreach ($nav_item in $nav_items)
						<a href=$nav_item.getTarget()>
							<li class="footer-link"> $nav_item.getName()</li>
						</a>
					#end
				</ul>
			</div>
		#end

		<p class="powered-by">
        #language ("powered-by") <a href="http://www.liferay.com" rel="external">Liferay</a>
		</p>


	</footer>

</div>

$theme.include($body_bottom_include)

$theme.include($bottom_include)

</body>

</html>