@import url(color_schemes/dark.css);
@import url(color_schemes/light.css);
@import url(color_schemes/original.css);
@import "mixins";
@import "compass/css3/transform";

/* ---------- Variables ---------- */

$bannerHeight: 771px;
$bannerHeightSmall: 257px;
$darkFontColor:#BBD;
$dockbarWidth:67px;

/* ---------- Base styles ---------- */

.aui {

	#wrapper {
		margin: 0 auto;
		padding: 0;
		max-width: 1154px;
	}

	.tooltip {
		display: none;
	}

	/* ---------- Banner ---------- */

	.banner-large {
		background: url(../images/custom/banner.jpg) no-repeat;
		height: $bannerHeight;
		position: relative;
		text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);

		.page-title {
			span {
				color: #FFF;
				font-size: 70px;
				line-height: 1px;

				animation-name: dropHeader;
			    animation-iteration-count: once;
			    animation-timing-function: ease-in;
			    animation-duration: 0.3s;

				-moz-animation-name: dropHeader;
			    -moz-animation-iteration-count: once;
			    -moz-animation-timing-function: ease-in;
			    -moz-animation-duration: 0.3s;

			    -webkit-animation-name: dropHeader;
			    -webkit-animation-iteration-count: once;
			    -webkit-animation-timing-function: ease-in;
			    -webkit-animation-duration: 0.3s;
			}
		}
	}

	.banner-small {
		background: url(../images/custom/small-banner.jpg) no-repeat;
		height: $bannerHeightSmall;
		position: relative;
		text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	}

	.link-to-content {
		margin: 20px auto;
		text-align: center;

		> a {
			border: 1px solid #FFF;
			border-radius: 5px;
			color: #FFF;
			font-size: 20px;
			padding: 5px;

			&:hover {
				text-decoration: none;
			}
		}

		&:hover {
			background: rgba (0, 0, 0, 0.85);
		}
	}

	.logo {
		margin: 0 5px 0 20px;
	}

	.page-title {
		color: #FFF;
		margin-top: 0;
		margin-bottom: 90px;
		padding-top: 20px;
		text-align: center;

		span {
			font-family: Megrim, sans-serif;
		}
	}

	.site-title {
		color: #FFF;
		display: inline-block;
		margin-top: 50px;
		padding: 5px 10px;
	}

	/* ---------- Dockbar ---------- */
	.dockbar .navbar-inner .site-administration-menu li a {
		color: #999;
	}

	.navbar .nav li.dropdown.open > .dropdown-toggle,
	.navbar .nav li.dropdown.active > .dropdown-toggle,
	.navbar .nav li.dropdown.open.active > .dropdown-toggle {
		background: transparent;
		color: #FFF;
	}

	.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus, .navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
		background: transparent;
		color: #FFF;
	}

	/* ---------- Navigation ---------- */

	.dockbar.navbar-static-top {
		position: fixed;
		z-index: 3;
	}

	/* ---------- Content ---------- */

	#content {
		background: #FFF;
		padding: 50px 20px 10px;
	}

	/* ---------- Footer ---------- */

	footer {
		background: #222;
		padding: 10px 20px;

		a {
			color: #AAA;
		}

		h3 {
			color: #FFF;
			margin: 5px 0;
		}
	}

	.footer-left {
		float: left;
		width: 60%;
	}

	.footer-right {
		float: right;
		padding-left: 5%;
		width: 30%;

		ul {
			list-style: none;
		}

		a:hover {
			color: #FFF;
			text-decoration: none;
		}
	}

	.powered-by {
		clear: both;
		text-align: right;

		a:hover {
			color: #FFF;
			text-decoration: none;
		}
	}
	/* ---------- Portlet Styling ---------- */

	.portlet-title {
		font-size: 32px;
	}

	.portlet-content {
		border-bottom: 5px solid #EEE;
		margin-bottom: 40px;
		padding-bottom: 30px;
	}
}

/* ---------- Responsiveness ---------- */

.aui {
	#wrapper {
		@include respond-to(phone, tablet) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	/*---------- Up to landscape phone ----------*/

	@media (max-width: 480px) {

		/* Remove padding from default */
		body {
			padding: 0;
		}

		.banner-large {
			height: 350px;

			.page-title span {
				font-size: 40px;
				line-height: 40px;
			}
		}

		.site-name {
			font-size: 25px;
		}
	}

	/*---------- Landscape phone to desktop/tablet ----------*/

	@media (min-width: 481px) and (max-width: 767px) {

		/* Remove padding from default */
		body {
			padding: 0;
		}

		.banner-large {
			height: 550px;

			.page-title span {
				font-size: 70px;
				line-height: 70px;
			}
		}

		.site-name {
			font-size: 30px;
		}
	}


	/*---------- Tablet to desktop ----------*/

	@media (max-width: 979px) {

		/* ---------- Dockbar ---------- */

		.portlet-dockbar {
			left: 0;

			.navbar-inner {
				background: rgba(0, 0, 0, 0.85);
				border: 0;
				box-shadow: none;

				.btn-navbar {
					background: rgba(255, 255, 255, 0.2);
					margin: 7px;
				}

				.nav-collapse.open {
					position: absolute;
					top: 50px;
					z-index: 2;
				}
			}

			.nav-account-controls > li, .nav-add-controls > li {
				a {
					color: #999;
					text-shadow: none;
				}
			}
		}

		.nav-account-controls, .nav-add-controls {
			background: rgba(0, 0, 0, 0.85);
			border-radius: 5px;
			float: right;
		}

		.signed-in {
			#_145_navAccountControlsNavbarBtn {
				padding: 2px;
			}

			.user-avatar-image {
				height: 30px;
				width: 31px;
			}
		}

		.signed-out {
			#_145_navAddControlsNavbarBtn {
				display: none;
			}
		}

		#_145_navAccountControlsNavbarCollapse {
			right: 55px;
		}

		#_145_navAddControlsNavbarCollapse {
			right: 0;
		}

		/* ---------- Navigation ---------- */

		.site-navigation {
			position: fixed;
			right: 0;
			top: 50px;

			.navbar-inner {
				background: rgba(0, 0, 0, 0.85);
				border: none;
				box-shadow: none;
				display: none;
				padding: 0;

				.nav-collapse {
					height: auto;

					li {
						background: transparent;

						a {
							box-shadow: none;
							color: #999999;
							text-shadow: none;
						}

						:hover {
							color: #FFF;
						}
					}
				}
			}

			.dropdown-menu, .dropdown-submenu {
				> li {
					> a {
						:hover, :focus {
							background: transparent;
						}
					}
				}

				:hover, :focus {
					background: transparent;
				}
			}
		}

		.site-navigation.open {
			.navbar-inner {
				display: block;
			}
		}
	}

	/*---------- Desktop and up ----------*/

	@media (min-width: 980px) {

		/* ---------- Base Styles ---------- */

		#wrapper {
			padding-top: 0;
		}

		.signed-in #wrapper {
			padding-left: $dockbarWidth;
			padding-right: $dockbarWidth;
		}

		/* ---------- Dockbar ---------- */

		.portlet-dockbar {
			.dockbar {
				border-bottom: 1px solid rgba(0, 0, 0, 0.85);
			}

			.navbar-inner {
				background: rgba(0, 0, 0, 0.85);
				border: 0;
				box-shadow: none;
				padding: 0;
			}

			.nav-account-controls {
				background: transparent;
				margin: 0;

				li > a {
					color: #999;
					padding: 14px;
					text-shadow: none;
				}

				li > .dropdown-menu {
					&:after, &:before {
						display: none;
					}
				}

				.sign-in > a {
					padding-top: 15px;
				}
			}

			.nav-add-controls {
				left: 10px;
				position: absolute;
				top: 60px;

				a {
					white-space: nowrap;
				}

				a:hover {
					.nav-item-label {
						display: inline;
					}
				}

				li {
					background: #FFF;
					border: 1px solid #999;
					border-radius: 5px;
					clear: left;
					margin: 10px auto;
					padding: 3px;
					width: 41px;
				}

				li > a:focus, li > a:hover {
					color: #FFF;
				}

				.nav-item-label {
					background: rgba(0, 0, 0, 0.85);
					border-radius: 5px;
					color: #FFF;
					display: none;
					left: 20px;
					padding: 10px;
					position: relative;
					text-shadow: none;
				}
			}
		}

		.dropdown-menu {
			background: rgba(0, 0, 0, 0.85);
			border: none;
			border-radius: 0;
			margin: 0;
			padding: 0;

			&:after, &:before {
				display: none;
			}

			.active > a, .active > a:hover, .active > a:focus {
				background: transparent;
				color: #FFF;
			}

			li a:hover, li a:focus {
				background: transparent;
				color: #FFF;
			}
		}

		.divider-vertical {
			display: none;
		}

		.lfr-has-add-content {
			.nav-add-controls {
				left: 360px;
			}
		}

		.lfr-has-device-preview {
			.nav-add-controls {
				left: 230px;
			}
		}

		.lfr-has-edit-layout {
			.nav-add-controls {
				left: 470px;
			}
		}

		.lfr-has-add-content, .lfr-has-device-preview, .lfr-has-edit-layout {
			.nav-account-controls {
				display: none;
			}
		}

		/* ---------- Navigation ---------- */

		.site-navigation {
			.navbar-inner {
				background: transparent;
				border: 0;
				border-radius: 0;
				box-shadow: none;
				float: left;
				position: fixed;
				top: 0;
				width: auto;
				z-index: 3;

				li {
					> a {
						background: transparent;
						box-shadow: none;
						color: #999999;
						line-height: 20px;
						padding: 15px 10px;
						text-decoration: none;
						text-shadow: none;

						&:hover {
							color: #FFF;
						}
					}

					> .dropdown-menu {
						background: rgba(0, 0, 0, 0.85);
						border: 0;
						border-radius: 0;
						margin: 0 auto;
						padding: 0;

						&:after,
						&:before {
							display: none;
						}
					}

				}

				li.dropdown.active,
				li.dropdown.hover,
				li.dropdown.open,
				li.dropdown.open.active {
					> .dropdown-toggle {
						background: transparent;
						color: #FFF;
					}
				}

				.active a:hover, .selected a {
					background: transparent;
					box-shadow: none;
					color: #FFF;
				}

				.active a, .active a:focus, .hover a, .lfr-nav-item  {
					background: transparent;
					box-shadow: none;
					color: #999999;
				}
			}
		}

		/* ---------- Banner ---------- */

		.banner-large {

			.page-title {
				padding: 50px auto;

				span {
					font-size: 100px;
					line-height: 100px;
				}
			}
		}

		.banner-small {
			.page-title {
				span {
					font-size: 60px;
					line-height: 60px;
				}
			}
		}
	}
}

/* ---------- Extras ---------- */

@-moz-keyframes dropHeader {
    0% {
        -moz-transform: translateY(-40px);
    }
    100% {
        -moz-transform: translateY(0);
    }
}
@-webkit-keyframes dropHeader {
    0% {
        -webkit-transform: translateY(-40px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@keyframes dropHeader {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0);
    }
}
