#set ($content_id = $reserved-article-id.getData())
#set ($content_class = "multiple-items-${content_id}-link")
#set ($namespace = $request.get("portlet-namespace"))
#set ($portlet_id = "p_p_id${namespace}")
#set ($date_DateObj = $dateUtil.newDate($getterUtil.getLong($date.getData())))

<style type="text/css">
	#${portlet_id} .portlet-content {
		padding: 0 10px 10px;
	}
</style>

<div id="$content_class">
	<h5> posted $dateUtil.getDate($date_DateObj, "dd MMM yyyy", $locale) in
		<a href="$category.getData()"> $category.getData() </a>
	</h5>

	<p>$body.getData()</p>
</div>